.actionBanners {
  margin: 3rem 0 2.2rem 0;

  .box {
    padding: 1rem;

    .actionBanner {
      position: relative;
      height: 14rem;
      border-radius: 7px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .wrappText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 0.725rem;
        font-weight: 500;

        h5 {
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0 0 0.3rem 0;
        }

        p {
          font-size: 1rem;
          margin: 0 0 0.3rem 0;
        }

        .dugme {
          margin-top: 0.5rem;
          padding: 0.3rem 0.7rem;
          border-radius: 7px;
          background-color: red;
          color: white;
          border: none;

          font-size: 0.9rem;
          cursor: pointer;
          transition: background-color 0.3s ease;


        }
      }
    }
  }
}

// RESPONSIVE

@media (max-width: 768px) {
  .actionBanners {
    .box {
      padding: 0 1rem;
      margin-bottom: 1rem;
    }

    .wrappText {
      width: 100%;

      h5 {
        font-size: 1.3rem;
      }

      p {
        font-size: 0.9rem;
      }

      .dugme {
        font-size: 0.8rem;
        padding: 6px 12px;
      }
    }
  }
}